.input-form-error{
    font-size: 12px;
    color: #ff5b5b;
    font-style: italic;
}

td, th {
    vertical-align: middle !important;
}

.w50 {
    width: 50px;
}

.w100 {
    width: 100px;
}

.sortable {
    cursor: move;
}

.video_url_container {
    display: none;
}